[Ll]ibrary/
[Tt]emp/
[Bb]uild/
[Oo]bj/
[Ll]ogs/
UserSettings/
MemoryCaptures/

# 자동 생성 파일
*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
*.opendb

# OS 파일
.DS_Store
Thumbs.db

# Rider
.idea/
*.sln.iml
